.priority{
    display: flex;
    background-color: #f3f4f6;
    border-radius: 10px;
    padding-right: 8px;
    font-weight: 500;
    font-size: 14px;
    align-items: center;
}
.priority-dot{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: 7px;
}
.p-dot-low{
    background: #a4aac6;
}
.p-dot-medium{
    background: #7f849a;
}
.p-dot-high{
    background: #4f525f;
}
.priority-container{
    display: flex;
}