.em-container{
    display: flex;
    flex-direction: column;
    border: solid 1px #c5c5c5;
    border-radius: 8px;
    padding: 10px 30px 10px 10px;
    /* align-items: start; */
    position: absolute;
    left: 0;
    top: 30px;
    background: #fff;
    z-index: 6;
}
.em-background-button-close{
    display: flex;
    position:fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    cursor: pointer;
}
.em-button{
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 0;
    inline-size: max-content;
    align-items: center;
}
.em-btn-icon{
    width: 20px;
    height: 20px;
    padding: 0 5px;
}